.version.index /* version checker */
{
	color: #00000A;
	background-color: #563272;
}

#page
{
	z-index: 1;
	min-height: 684.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 20.049999999999955px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#menuu468
{
	z-index: 6;
	position: relative;
	width: 41.46%;
	margin-left: 8.55%;
}

#u476
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.92%;
}

#u479
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u479:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u479:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u481-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u479:hover #u481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u479:active #u481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u483
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.92%;
	left: 33.42%;
}

#u484
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u479.MuseMenuActive,#u484:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u484:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u487-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u479.MuseMenuActive #u481-4,#u484:hover #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u484:active #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u469
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 33.17%;
	left: 66.84%;
}

#u470
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u484.MuseMenuActive,#u470:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u470:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u470.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u473-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u484.MuseMenuActive #u487-4,#u470:hover #u473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u470:active #u473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u470.MuseMenuActive #u473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#accordionu149
{
	z-index: 25;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	width: 48.86%;
	margin-left: 2.4%;
}

#u154
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u157-4
{
	z-index: 27;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u157-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u155
{
	z-index: 31;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
	width: 100%;
}

#u156-4
{
	z-index: 32;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 44.78%;
	left: 0.22%;
}

#u458
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 38.17%;
	left: 51.6%;
}

#u150
{
	z-index: 38;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u151-4
{
	z-index: 39;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u151-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u151-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u152
{
	z-index: 43;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u153-4
{
	z-index: 44;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 72.5%;
	left: 1.92%;
}

#u158
{
	z-index: 48;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u161-4
{
	z-index: 49;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u161-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u161-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u159
{
	z-index: 53;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u160-4
{
	z-index: 54;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 72.5%;
	left: 1.92%;
}

#u188
{
	z-index: 58;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u191-4
{
	z-index: 59;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u191-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u191-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u189
{
	z-index: 63;
	height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
}

#u199
{
	z-index: 64;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u200-4
{
	z-index: 65;
	min-height: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u200-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u200-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4.AccordionPanelTabOpen,#u151-4.AccordionPanelTabOpen,#u161-4.AccordionPanelTabOpen,#u191-4.AccordionPanelTabOpen,#u200-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4.AccordionPanelTabOpen p,#u151-4.AccordionPanelTabOpen p,#u161-4.AccordionPanelTabOpen p,#u191-4.AccordionPanelTabOpen p,#u200-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u157-3,#u151-3,#u161-3,#u191-3,#u200-3
{
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 10px;
}

#u201
{
	z-index: 69;
	height: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u452-4
{
	z-index: 2;
	min-height: 22px;
	margin-top: 258px;
	position: relative;
	width: 30.21%;
	margin-left: 34.9%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

